.diagram-component {
  height: 500px;
  border: solid 2px black;
  background-color: aliceblue;
}

.containerbackground {
  margin: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  color: #c6afaf;
}
